@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Poppins:wght@400;600&family=Inter:wght@400;500&display=swap');

@import "tailwindcss";

:root {
  --background: #0b132b;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: #00000014;
  --color-input: #071022;

  --color-primary: #ffd166;
  --color-primary-foreground: #0b132b;

  --color-secondary: #1d4ed8;
  --color-secondary-foreground: #f8fafc;

  --color-muted: #0a0f1a;
  --color-muted-foreground: #9aa6b2;

  --color-success: #16a34a;
  --color-success-foreground: #f8fafc;

  --color-accent: #ffd166;
  --color-accent-foreground: #0b132b;

  --color-destructive: #dc2626;
  --color-destructive-foreground: #ffffff;

  --color-card: #071029;
  --color-card-foreground: #e6eef9;

  --color-sidebar: #071029;
  --color-sidebar-foreground: #bfd7ff;
  --color-sidebar-primary: #11377a;
  --color-sidebar-primary-foreground: #f8fafc;
}


body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
